@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  color: rgb(255, 255, 255);
  padding: 1em;
  font-size: 1em;
  flex-direction: column;
  font-family: 'Inconsolata', monospace;
}

.inputModule {
  color: rgb(185, 227, 255);
  background-color: rgba(0,0,0,0);
  border: 0;
  outline: 0;
  width: 100%;
  font-size: 1em;
  font-family: 'Inconsolata', monospace;
  margin-left: 0.2em;
  }

.caret {
  border-width: 10px;
}

.orangeText {
  color: rgb(255, 184, 92)
}

.normalLayout {
  flex-direction: column;
}

.notFoundText {
  color: rgb(255, 0, 0);
}

.inputWrapper {
  flex-direction: row;
  display: flex;
  justify-content: flex-start
}

.white_glow {
  text-shadow: 0 0 3px rgb(255, 255, 255);
}

.command-highlight {
  color:rgb(223, 223, 223);
  text-shadow: 0 0 3px rgb(167, 167, 167);
}

.orange_glow {
  text-shadow: 0 0 5px rgb(255, 184, 92);
}

.prompt {
  margin-right: 0.2em;
  color: rgb(43, 170, 255);
  text-shadow: 0 0 1px rgb(43, 170, 255);
  font-weight: bold;
}

.ascii-art {
  color: rgb(91, 255, 126)
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
